{% extends 'base.html' %}

{% block title %}
Leaderboard
{% endblock %}

{% block content %}
<h2>Leaderboard</h2>

<p></p>

<table id="rankings">
  <tr>
    <th>Rank</th>
    <th>Username</th>
    <th>Full Name</th>
    <th>Score</th>

  </tr>

  {% for u in users_score %}
  <!-- u is a tuple. first element of the tuple is the user object, the second
    element is the user's score' -->
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{% url 'users:profile' u.0.username %}">
        {{ u.0 }}</a></td>
    <td>{{ u.0.first_name }} {{ u.0.last_name }}</td>
    <td>{{ u.1 }}</td>

  </tr>
  {% endfor %}

</table>
{% endblock %}
